.controller {
    max-width: 400px;

    .page-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
        font-size: xx-large;
        padding: 20px;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
       
        .content {
            display: flex;

            .id {
                width: 70px;
                color: #777777;
                text-align: right;
                padding-right: 10px;
            }
        }
    }

}
