.modal {

  position: fixed;
  border-radius: 25px;
  background: #93CD41;
  padding: 20px; 
  top: 50%;
  transform: translateY(-50%);

  .modal-footer {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

    .close {
      background: #111111;
      color: #EEEEEE;
    }

  }

}
